<h1>My Bookings</h1>
<ul>
  <% @my_bookings.each do |booking| %>
    <div>
      <li><%= link_to booking.item.title, item_path(booking.item) %></li>
      <li>Owner: <%= booking.item.user.email %></li>
      <li>Status: <%= booking.status %></li>
      <br>
    </div> 
  <% end %>
</ul>