<div class="container">
  <h1>All Items</h1>
  <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
  <div class="cards">
    <% @items.each do |item| %>
      <%= link_to item_path(item), class: "link_remove_underline" do %>
        <div class="card_item">
          <div>
            <p>分享物: <%= item.title %></p>
            <p>所有者: <%= item.user.email %></p>
          </div>    
        </div> 
      <% end %>
    <% end %>
  </div>
</div>


  
