<h1>All Items</h1>
<%= link_to "New", new_item_path%>
<ul>
  <% @items.each do |item| %>
    <div>
      <li>分享物: <%= link_to item.title, item_path(item) %></li>
      <li>所有者: <%= item.user.email %></li>
      <br>
    </div> 
  <% end %>
</ul>
