<h2><%= @item.title %></h2>
<p><%= @item.description %></p>
<% if policy(@item).edit? %>
    <%= link_to "Edit", edit_item_path%>
<% end %>
<br>
<% if policy(@item).destroy? %>
    <%= link_to "Delete #{@item.title}",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>
